version: "3.9"
services:
    web:
        image: tokenapp3
        ports:
            - "8000:80"
        depends_on:
            - mssql
    mssql:
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
        - 1433:1433
        volumes:
        - ~/apps/mssql/data:/var/lib/mssqlql/data
        environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=mssql1Ipw